@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}


@*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@


<div class="jumbotron jumboStyle1 bgImgDaisyParrot1" style="background-size: cover; padding: 10px">
    <div class="row">
        <div class="col-sm-1">
            @{ var userText = Request.IsAuthenticated ? " " + User.Identity.GetUserName() : ", please log in"; }


            @*@Html.ActionLink("Enter", "Videos", "Video", null, new { @class = "seeThruBtn" })*@


            @{

                @Html.ActionLink("Enter", "Videos", "Video", null, new { @class = "btn btn-primary btn-block", style = "background-color: pink; color:black; font-size: large" })

                @*if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Enter", "Videos", "Video", null, new { @class = "btn btn-primary btn-block", style = "background-color: pink; color:black; font-size: large" })
                }
                else
                {
                    @Html.ActionLink("Login", "Login", "Account", new { id = "loginLink" }, new { @class = "btn btn-primary btn-block", style = "background-color: pink; color:black; font-size: large" })
                }*@
            }
        </div>

        @{
            <div class="col-sm-offset-8 col-sm-2 pull-right">

                @if (!Request.IsAuthenticated)
                {
                    @Html.ActionLink("Register", "Register", "Account", new { id = "registerLink" }, new { @class = "seeThruBtn" })
                }
                else
                {
                    <span style="color: turquoise; font-size: small">Current User :</span><span style="color: Fuchsia;  font-size: small">@userText</span>
                }

            </div>

        }
        @*<div class="col-md-4">
                @*<h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
            </div>*@
    </div>

    <h1 style="color: fuchsia"> <br /><br /> D a i s y  M e d i a <br /><br /></h1>
    <p class="lead" style="color:deeppink">
        Daisy's pictures, videos, notes etc.    Vn:1.4
        <br /><br /><br /><br />
    </p>
    <p>@*<a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@</p>
</div>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div> *@
